<simple-slider style="width:612px; height:612px">
  <img src="http://placekitten.com/g/612/612"/>
  <img src="http://distilleryimage5.s3.amazonaws.com/de66967ac72111e2a23222000aaa0537_7.jpg"/>
  <img src="http://distilleryimage8.s3.amazonaws.com/a042749ac72111e28c3c22000a1fb85a_7.jpg"/>
  <img src="http://distilleryimage4.s3.amazonaws.com/8d32600ec72111e29f1422000a1fbc0e_7.jpg"/>
</simple-slider>

<br/>

<simple-slider style="width:612px; height:612px" transition-property="opacity" start-value="0" visible-value="1" end-value="0">
  <img src="http://placekitten.com/g/612/612"/>
  <img src="http://distilleryimage5.s3.amazonaws.com/de66967ac72111e2a23222000aaa0537_7.jpg"/>
  <img src="http://distilleryimage8.s3.amazonaws.com/a042749ac72111e28c3c22000a1fb85a_7.jpg"/>
  <img src="http://distilleryimage4.s3.amazonaws.com/8d32600ec72111e29f1422000a1fbc0e_7.jpg"/>
</simple-slider>

<br/>

<simple-slider style="width:612px; height:612px" transition-property="top" start-value="-612px" visible-value="0px" end-value="612px">
  <img src="http://placekitten.com/g/612/612"/>
  <img src="http://distilleryimage5.s3.amazonaws.com/de66967ac72111e2a23222000aaa0537_7.jpg"/>
  <img src="http://distilleryimage8.s3.amazonaws.com/a042749ac72111e28c3c22000a1fb85a_7.jpg"/>
  <img src="http://distilleryimage4.s3.amazonaws.com/8d32600ec72111e29f1422000a1fbc0e_7.jpg"/>
</simple-slider>

<br/>

<select id="slide-selector" ng-model="actualslide">
  <option value="0">Slide 1</option>
  <option value="1">Slide 2</option>
  <option value="2">Slide 3</option>
  <option value="3">Slide 4</option>
</select>

<simple-slider style="width:612px; height:612px" auto-play="false" change="{{actualslide}}">
  <img src="http://placekitten.com/g/612/612"/>
  <img src="http://distilleryimage5.s3.amazonaws.com/de66967ac72111e2a23222000aaa0537_7.jpg"/>
  <img src="http://distilleryimage8.s3.amazonaws.com/a042749ac72111e28c3c22000a1fb85a_7.jpg"/>
  <img src="http://distilleryimage4.s3.amazonaws.com/8d32600ec72111e29f1422000a1fbc0e_7.jpg"/>
</simple-slider>


